body {
    background-color: white;
    justify-content: center;
    align-items: center;

}

/*Navbar CSS */
.customNav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.452) !important;
    z-index: 10;
    margin-left: 2px;
    margin-right: 4px;
}

.customNav a {
    color: white !important;
    size: 100px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand img {
    padding-right: 15px;
    width: 100px;
}

/* nav bar links moved to right*/
.nav-item {
    margin: 0px 20px;
    text-decoration: none;
}

.nav-item a {
    box-shadow: inset 0px 5px 5px 0px white (238, 42, 238, 0.452);
    color: var(--flor);
    margin: 0 -.30rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

.nav-item a:hover {
    box-shadow: inset 0px 5px 5px 0px white (238, 42, 238, 0.452);
    color: red !important;
}

.navbar-toggler {
    background-color: white;
    color: black;

}

.navbar-collapse a {
    box-shadow: inset 500px 2px 0px 0px black (238, 42, 238, 0.452);
    margin: 0 -.30rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;

}

/*Jumbotron CSS */
.jumbotron {
    text-align: center;
    background-image: url("./images/jumbotronBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.jumbotron h1 {
    color: red;
    font-family: sans-serif;
    margin-top: 20px;
    font-weight: bold;
    font-size: 95px;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.jumbotron p {
    background-color: rgba(255, 255, 255, 0.808);
    color: black;
    border-radius: 5px;
    font-weight: bold;

}

.clear {
    background-color: red !important;
}

.btn-groupjumbo {
    padding: 20px;
}

.form-inline {
    justify-content: center !important;
    align-content: center !important;
}

#comic-input {
    border: black 3px solid;
    box-shadow: 2px 1px 8px green !important;

}

.btn {
    background-color: black;
    color: white;
    box-shadow: 2px 1px 8px green !important;
}

.heading {
    background-color: rgba(255, 255, 255, 0.747);
    text-align: center;
    padding-top: 20px;
    margin-top: 5px;
    font-size: 50px;
    font-weight: bold;
    color: red;
    padding-bottom: 10px;

}

/*chosen comic book section*/
.marvelMovies {
    background-image: url(./images/comicbooksectionBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    height: 800px;
    margin: 0px auto;
    justify-content: center !important;
    align-items: center !important;
    align-content: center;
}

.row {
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto;
    display: flex !important;
}

.comics-container {
    display: inline-flex !important;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    max-height: 750px !important;
    max-width: 83.5%;
    margin-top: 10px;

}

.comics-container img {
    border: white 5px solid;
    height: 600px;
    display: inline-flex !important;
    margin: 2px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 8px yellow !important;
    border-radius: 5px;

}

.cardContainer {
    justify-content: center !important;
    align-items: center !important;
    margin-top: 30px;
    height: 28vh;
}

/*added box shadow border to each card*/
.card {
    background-color: black;
    margin: 10px !important;
    margin-top: 25px;
    height: 51vh;
    width: auto;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 2px 1px 8px red !important;
}

.marvelGifs {
    background-image: url(./images/gifsectionBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    height: 700px;
    margin: 0px auto;
    justify-content: center !important;
    align-items: center !important;
    align-content: center;
    object-fit: contain !important;
}

.giphyCards img {
    background-color: black;
    border-radius: 5px;
    height: 400px;
    justify-content: center;
    object-fit: contain;
}

.marvelGifs h2 {
    padding-bottom: 20px;
}


/*Footer CSS*/
.footerContainer {
    justify-content: center !important;
    align-items: center !important;
    padding: 2px;
    display: flex;
    margin: 10px auto;
    padding: 0 auto;
    padding-top: 30px;
    height: 200px;
}

.footsection a {
    color: black;

}

.footContainer {
    justify-content: center !important;
    align-items: center !important;
    padding: 0px auto;
    display: flex;
    margin: 50px auto;
    padding: 0 auto;

}


.footersection li {
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1px;
    padding-left: 50px;
    display: inline-flex;

}

.footersection a:hover {
    box-shadow: inset 0px 2px 2px 2px rgba(255, 2, 2, 0.61);
    color: red;
}

.list-inline {
    display: inline-flex;
}

.footer-text {
    font-size: 15px;
    text-align: center;
}

.footer h5 {
    padding-bottom: 10px;
    text-align: center;
}

.fa-github {
    color: black;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.fa-linkedin {
    color: black;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.link-two {
    padding-left: 5px;
}

.link-three {
    padding-left: 2px;
}

.link-four {
    padding-left: 3px;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e600, 0 0 40px #1be600, 0 0 50px #00e61f, 0 0 60px #13e600, 0 0 70px #00e632;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #aed423, 0 0 40px #aed423, 0 0 50px #aed423, 0 0 60px #aed423, 0 0 70px #aed423, 0 0 80px #aed423;
    }
}

@media (min-width: 200px) and (max-width: 1200px) {

    .jumbotron {
        height: 100%;
        margin-bottom: 10px;
    }


    .marvelMovies {
        height: 450px;
    }

    .comics-container {
        margin-top: 50px;
    }

    .comics-container img {
        background-color: white;
        display: flex;
        max-height: 175px;
        max-width: 135px;
        object-fit: contain;

    }

    .marvelGifs {
        background-repeat: no-repeat;
        justify-content: center;
        height: 950px;
        margin-bottom: 80px;
    }

    .card {
        height: 180px;
    }

    .giphyCards img {
        display: inline-flex;
        max-height: 100px;
        object-fit: contain;
    }

    .footContainer {
        display: flex;        
        justify-content: center;
        align-content: center;

    }

    .nav-item {
        padding-top: 50px;
    }

    .nav-link {
        display: inline-block;

    }

    .social {
        justify-content: space-around;
    }

    .fa-brands {
        display: flex;
        object-fit: contain;
    }
}