body {
    background-color: white;
    justify-content: center;
    align-items: center;

}

/*Navbar CSS */
.customNav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.452) !important;
    z-index: 10;
    margin-left: 2px;
    margin-right: 4px;
}

.customNav a {
    color: white !important;
    size: 100px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand img {
    padding-right: 15px;
    width: 100px;
}

/* nav bar links moved to right*/
.nav-item {
    margin: 0px 20px;
    text-decoration: none;
}

.nav-item a {
    box-shadow: inset 0px 5px 5px 0px white (238, 42, 238, 0.452);
    color: var(--flor);
    margin: 0 -.30rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

.nav-item a:hover {
    box-shadow: inset 0px 5px 5px 0px white (238, 42, 238, 0.452);
    color: red !important;
}

.navbar-toggler {
    background-color: black;

}

.navbar-collapse a {
    box-shadow: inset 500px 2px 0px 0px white (238, 42, 238, 0.452);
    margin: 0 -.30rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;

}

/*Jumbotron CSS */
.jumbotron {
    text-align: center;
    background-image: url("./images/jumbotronBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.jumbotron h1 {
    color: red;
    font-family:sans-serif;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.719);
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.jumbotron p {
    background-color: rgba(255, 255, 255, 0.411);
    color: black;
    font-weight: bold;

}

.divider-line {
    background-color: red;
    height: 3px;
    margin: 5px;
}

.heading {
    background-color: rgba(255, 255, 255, 0.441);
    text-align: center;
    padding-top: 10px;
    margin-top: 5px;
    font-size: 40px;
    color: red;

}

.heading-info {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
}

/*chosen comic book section*/
.marvelMovies {
    background-image: url(./images/comicbooksectionBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    height: 500px;
    margin: 0px auto;
    justify-content: center !important;
    align-items: center !important;
    align-content: center;
}

.row {
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto;
}

.cardContainer {
    justify-content: center !important;
    align-items: center !important;
    margin-top: 30px;
}

/*added box shadow border to each card*/
.card {
    background-color: white;
    margin: 10px !important;
    height: 28vh;
    width: auto;
    border: black;
    color: red;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid black;
    -webkit-box-shadow: 2px 1px 8px red !important;
}

.marvelGifs {
    background-image: url(./images/gifsectionBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    height: 500px;
    margin: 0px auto;
    justify-content: center !important;
    align-items: center !important;
    align-content: center;
}

.marvelGifs h2 {
    padding-bottom: 20px;
}   

/*Footer CSS*/
.footerContainer {
    justify-content: center !important;
    align-items: center !important;
    padding: 2px;
    display: flex;
    margin: 10px auto;
    padding: 0 auto;
    padding-top: 30px;
    height: 200px;
}

.footsection a {
    color: black;

}

.footContainer {
    justify-content: center !important;
    align-items: center !important;
    padding: 0px auto;
    display: flex;
    margin: 50px auto;
    padding: 0 auto;

}


.footersection li {
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1px;
    padding-left: 50px;
    display: inline-flex;

}

.footersection a:hover {
    box-shadow: inset 0px 2px 2px 2px rgba(255, 2, 2, 0.61);
    color: red;
}

.list-inline {
    display: inline-flex;
}

.footer-text {
    font-size: 15px;
    text-align: center;
}

.footer h5 {
    text-align: center;
}

.fa-github {
    color: black;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e600, 0 0 40px #1be600, 0 0 50px #00e61f, 0 0 60px #13e600, 0 0 70px #00e632;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #aed423, 0 0 40px #aed423, 0 0 50px #aed423, 0 0 60px #aed423, 0 0 70px #aed423, 0 0 80px #aed423;
    }
  }

  